* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
  height:2000px;
  transform: scale(0.9);
  transform-origin: 50% 0%;
}

button {
  background-color: #9601FF;
  color: #fff;
  box-sizing: initial!important;
  font-family: 'sans';
  border-radius: 8px;
  border-color: rgba(0,0,0,.0);
  border: none!important;
  font-size: 13pt;
  width: 150px;
  height: 52px;
}

@font-face {
  font-family: 'sansb';
  src: url('sansb.ttf');
}

@font-face {
  font-family: 'sans';
  src: url('sans.ttf');
}
@font-face {
  font-family: 'sans';
  src: url('sansb.ttf');
  font-weight: bold;
}

.container {
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
/*40pt for main; 13pt;*/
.corner-title {
  font-family: 'sansb';
  font-size: 27pt;
  grid-row: 2/2;
  grid-column: 2/3;
}

.nav {
  grid-column: 3/20;
  grid-row: 2/2;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(48px, auto);
}
.nav-link {
  font-family: 'sans';
  font-size:13pt;
  grid-row-start: 0;
  grid-row-end: 0;
  color:white;
}

.l1 {
  grid-column: 4/4;
}

.shapes {
  height:700px;
  width:800px;
  grid-column: 9/20;
  grid-row: 1/22;
  z-index: -100;
  align-items: right;
  justify-content: right;
}

.large-text {
  font-family: 'sansb';
  font-size: 40pt;
  grid-row: 6/8;
  grid-column: 2/10;
}
.cLine {
  position:absolute;
  width: 170px;
  margin-top: 3.5vw;
  margin-left: -0.5vw;
}

/*
margin-left:23.5vw;
margin-top:28vw;
*/


.subtext {
  font-family: 'sans';
  font-size: 13pt;
  grid-row: 10/12;
  grid-column: 2/10;
}

.get-beta {
  grid-row: 13/14;
  grid-column: 2/4;
}
.them {
  grid-column: 2/17;
  grid-row: 20/26;
  font-family: 'sansb';
  font-size: 40pt;
  line-height: 105px;
}

.me {
  grid-column: 2/9;
  grid-row: 22/26;
  font-family: 'sansb';
  font-size: 40pt;
}

.me-text {
  grid-column: 1/2;
  grid-row: 2/2;
}

.me-other-text {
  grid-column: 2/10;
  grid-row: 2/2;
}

.why {
  grid-column: 2/20;
  grid-row:24/28;
  font-family: 'sans';
  font-size: 13pt;
  line-height: 22px;
}

.phone {
  height:680px;
  width:380px;
  grid-row: 20/28;
  grid-column: 14/20;

  background-image: url('phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.dawkins {
  height:auto;
  width:295px;
  margin-left: 45px;
  margin-top: 169px;
}
/*
position: absolute;
margin-top:75.5vw;
margin-left: 70vw;
*/
/*
Purple color: #9601FF
Green color: #00FFC1
*/

#angleCon {
  grid-row: 30/40;
}

#angled {
  background-color:#222;
  width:115vw;
  height:1005px;
  -webkit-clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 100%);
clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 100%);
position: absolute;
margin-left:-100px;
overflow-y: hidden;
}
#purpleThing {
  position: absolute;
  background-color: #9601FF;
  width: 320px;
  height: 80px;
  margin-top: 158vw;
  margin-left: 54vw;
  z-index: 1000;
  border-radius: 10px;
  transform: rotate(-11deg);
}
.bottomNavContainer {
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(48px, 48px);
}

.bottomNav {
  grid-row: 42;
}

.bottomTitle {
  font-family: 'sans';
  font-size: 26pt;
  color:white;
  grid-column: 2/3;
  z-index: 1000;
  line-height: 2;
}
.linkHead {
  font-family: 'sans';
  font-size: 18pt;
  color:white;
  grid-column: 6/13;
  z-index: 1000;
  line-height: 3;
}

.bottomLinks {
  font-family: 'sans';
  font-size: 13pt;
  grid-row: 43/43;
  line-height:45px;
  z-index: 1000;
  color:white;
}
a {
  text-decoration: none;
  font-size: 13pt;
  font-family: 'sans';
  color:white;
}

.quickLinks {
  font-family: 'sansb';
  font-size: 18pt;
  color:white;
  grid-column: 16/20;
  z-index: 1000;
  line-height: 3;
}

.bottomText {
  color:grey;
  font-family: 'sans';
  font-size: 13pt;
  grid-column: 1/20;
  grid-row: 45;
  z-index: 1000;
  text-align: center;
  overflow-y: hidden;
}
