/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
  height:1vh;
  transform: scale(0.9);
  transform-origin: 50% 0%;
  background-color: grey;
}

button {
  background-color: #9601FF;
  color: #fff;
  box-sizing: initial!important;
  font-family: 'sans';
  border-radius: 8px;
  border-color: rgba(0,0,0,.0);
  border: none!important;
  font-size: 1.4vw;
  width: 15vw;
  height: 4.3vw;

  box-shadow: 0px 0px 0px #9601FF;
  transition: box-shadow 0.5s ease-in-out;
}

button:hover {
  box-shadow: 0px 0px 30px rgba(150, 1, 255, 0.5);
}


@font-face {
  font-family: 'sansb';
  src: url('sansb.ttf');
}

@font-face {
  font-family: 'sans';
  src: url('sans.ttf');
}
@font-face {
  font-family: 'sans';
  src: url('sansb.ttf');
  font-weight: bold;
}
.background {
  background-color:white;
  width:120vw;
  height:400vh;
  margin-left: -10vw;
  position: absolute;
  z-index: -100;
}
.container {
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: minmax(4vw, auto);
}
/*40pt for main; 13pt;*/
.corner-title {
  font-family: 'sansb';
  font-size: 2.5vw;
  grid-row: 2/2;
  grid-column: 2/3;
  padding-top: 0.8vw;
}

.nav {
  grid-column: 2/20;
  grid-row: 2/2;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(1vw, auto);
  column-gap: 6vw;
  padding-left: 20vw;
}
.nav-link {
  font-family: 'sans';
  font-size:1.4vw;
  grid-row-start: 0;
  grid-row-end: 0;
  color:white;
  text-align: center;
  padding-top: 1.2vw;
  width: 6vw;
  transition: background-color 0.3s ease-in-out;
  border-radius: 1vw;
}

.nav-link:hover {
  background-color: rgba(0,0,0,0.1);
}

.l1 {
  grid-column: 4/4;
}

.shapes {
  height:50vw;
  width:60vw;
  grid-column: 9/20;
  grid-row: 1/22;
  z-index: -100;
  align-items: right;
  justify-content: right;
}

.large-text {
  font-family: 'sansb';
  font-size: 4.2vw;
  grid-row: 6/8;
  grid-column: 2/10;
}

.cLine {
  position:absolute;
  width: 13vw;
  margin-top: 3.0vw;
  margin-left: -0.5vw;
}

/*
margin-left:23.5vw;
margin-top:28vw;
*/


.subtext {
  font-family: 'sans';
  font-size: 1.4vw;
  grid-row: 10/12;
  grid-column: 2/10;
}

.get-beta {
  grid-row: 13/14;
  grid-column: 2/4;
}
.them {
  grid-column: 2/17;
  grid-row: 20/26;
  font-family: 'sansb';
  font-size: 3.68vw;
  line-height: 2;
}

.me {
  grid-column: 2/9;
  grid-row: 22/26;
  font-family: 'sansb';
  font-size: 3.68vw;
}

.me-text {
  grid-column: 1/2;
  grid-row: 2/2;
}

.me-other-text {
  grid-column: 2/10;
  grid-row: 2/2;
}

.why {
  grid-column: 2/20;
  grid-row:24/28;
  font-family: 'sans';
  font-size: 1.4vw;
  line-height: 1.1;
}

.phone {
  height:57vw;
  width:30vw;
  grid-row: 20/28;
  grid-column: 14/20;

  background-image: url('phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.dawkins {
  height:auto;
  width:23.4vw;
  margin-left: 3.5vw;
  margin-top: 13.25vw;
}
/*
position: absolute;
margin-top:75.5vw;
margin-left: 70vw;
*/
/*
Purple color: #9601FF
Green color: #00FFC1
*/

.angleCon {
  grid-row: 32/45;
  grid-column: 1/20;
  width:120vw;
  margin-left: -10vw;
}

#angled {
  background-color:#222;
  width:115vw;
  height:1005px;
  -webkit-clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 100%);
clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 100%);
position: absolute;
margin-left:-100px;
overflow-y: hidden;
}
#purpleThing {
  position: absolute;
  background-color: #9601FF;
  width: 320px;
  height: 80px;
  margin-top: 158vw;
  margin-left: 54vw;
  z-index: 1000;
  border-radius: 10px;
  transform: rotate(-11deg);
}
.socialIcons {
  grid-row: 39;
  z-index: 1000;
  width: 2.5vw;
  height:auto;
}
.reddit {
grid-column: 4/4;
}
.instagram {
grid-column: 6/6;
}
.youtube {
grid-column: 8/8;
}
.facebook {
grid-column: 10/10;
}
.pornhub {
grid-column: 12/12;
}
.jk {
grid-column: 14/14;
}

.bottomNavContainer {
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(48px, 48px);
}

.bottomNav {
  grid-row: 41;
}

.bottomTitle {
  font-family: 'sansb';
  font-size: 2.4vw;
  color:white;
  grid-column: 2/3;
  z-index: 1000;
  line-height: 2;
}
.linkHead {
  font-family: 'sansb';
  font-size: 1.67vw;
  color:white;
  grid-column: 6/13;
  z-index: 1000;
  line-height: 3;
}

.bottomLinks {
  font-family: 'sans';
  font-size: 1.4vw;
  grid-row: 42/42;
  line-height:2.3;
  z-index: 1000;
  color:white;
}
span a {
  text-decoration: none;
  font-size: 1.4vw;
  font-family: 'sans';
  color:white;
}

.quickLinks {
  font-family: 'sansb';
  font-size: 1.67vw;
  color:white;
  grid-column: 16/20;
  z-index: 1000;
  line-height: 3;
}

.bottomText {
  color:grey;
  font-family: 'sans';
  font-size: 1.4vw;
  grid-column: 1/20;
  grid-row: 44;
  z-index: 1000;
  text-align: center;
  overflow-y: hidden;
}
/*Tablet */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/*Phone*/

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}
